@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos al proyecto de invetigacion de Programacion Avanzada 2</h1>
    <p>Este proyecto es un ejemplo de uso de la libreria ML de microsoft.</p>
</div>
