@model MessageData

@{
    ViewData["Title"] = "Clasificador de emociones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script>
    const sendEmotion = () => {
        
        if (!$("#message").val()) {
            $("#error").show();
            return false;
        };
        $(`.emoji-container`).removeClass("selected");
        $("#error").hide();
        $(".lds-ellipsis").show();
        
        const data = { "message": $("#message").val() };
        $.post('@Url.Action("EmotionProcessing", "Home")', data, function (res, status) {
            const { prediction } = res;
            
            $(`#${prediction.emotion}`).addClass("selected");
            $(".lds-ellipsis").hide();
        });
    }

</script>



    <div class="card p-5 d-flex justify-content-center" style="height: 80vh;">
        <div class="row">
            <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
                <h2>Ingresá la frase, detectaremos la emoción.</h2>
                <form asp-controller="Home" asp-action="EmotionProcessing" method="post" class="text-center" style="width: 100%;">
                    <div class="text-danger" asp-validation-summary="All"></div>
                    <textarea asp-for="Message" class="mb-4" id="message"></textarea>
                    <div class="d-flex justify-content-center align-items-center">
                        <input type="button" class="button" onclick="sendEmotion()" value="Procesar" />
                        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                    </div>
                    <div id="error">Tu frase no puede estar vacía.</div>
                </form>
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
                <div id="result-container">
                    <div class="flex-container">
                        <div id="enfado" class="emoji-container">
                            <img class="emoji" src="~/assets/emoji/enfado.png" />
                            <div class="emoji-text">Enfado</div>
                        </div>
                        <div id="tristeza" class="emoji-container">
                            <img class="emoji" src="~/assets/emoji/tristeza.png" />
                            <div class="emoji-text">Tristeza</div>
                        </div>
                        <div id="amor" class="emoji-container">
                            <img class="emoji" src="~/assets/emoji/amor.png" />
                            <div class="emoji-text">Amor</div>
                        </div>
                        <div id="contento" class="emoji-container">
                            <img class="emoji" src="~/assets/emoji/contento.png" />
                            <div class="emoji-text">Contento</div>
                        </div>
                        <div id="miedo" class="emoji-container">
                            <img class="emoji" src="~/assets/emoji/miedo.png" />
                            <div class="emoji-text">Miedo</div>
                        </div>
                        <div id="sorpresa" class="emoji-container">
                            <img class="emoji" src="~/assets/emoji/sorpresa.png" />
                            <div class="emoji-text">Sorpresa</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
</div>
