html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

nav {
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
    left: 0 !important;
}

a, h1, h2, h3, div {
    color: white;
    text-align: center;
    font-weight: 200;
}

textarea {
    border-radius: 30px !important;
    padding: 1em !important;
    box-shadow: 0 0 5px 0 #3f50b533 !important;
    font-weight: lighter !important;
    font-size: 25px !important;
    background: transparent;
    border: 2px solid white;
    width: 100%;
    color: white;
    outline: none;
}

.button {
    background: white;
    border-radius: 30px;
    border: none;
    padding: 15px 40px;
    color: #663c6f;
    transition: .3s;
}

.button:hover {
    box-shadow: 2px 2px 5px 0 #00000069;
}

.emoji {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.emoji-container {
    transition: .5s;
}

.selected {
    margin: 30px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 20px;
    transform: scale(1.5);
}


body {
    background-image: url("./../assets/background69.jpeg");
    background-size: 100%;
    transition: 1s;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.card {
    backdrop-filter: blur(20px) !important;
    background: #ffffff4d !important;
}

#error {
    display: none;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.feeling-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.lds-ellipsis {
    display: none;
    position: absolute;
    width: 80px;
    height: 80px;
    bottom: 40px;
}

    .lds-ellipsis div {
        position: absolute;
        top: 33px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: #fff;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }

        .lds-ellipsis div:nth-child(1) {
            left: 8px;
            animation: lds-ellipsis1 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(2) {
            left: 8px;
            animation: lds-ellipsis2 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(3) {
            left: 32px;
            animation: lds-ellipsis2 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(4) {
            left: 56px;
            animation: lds-ellipsis3 0.6s infinite;
        }

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}
